/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

#block-block-2 .content li {
  margin: 0;
  background: url(../images/line.png) bottom no-repeat;
  background-position-x: 40px;  
  border: none;
}

.custom-contact-webform {
  width: 300px;
}

#columns {
  padding: 10px 0;
}

/* Home Page Articles Block */


.columns-front-page .column {
  width: 33.07%;
}

/* Footer */

#footer .block {
  margin: 0;
  width: 25%;
  float: left;
}

#columns #block-views-front-carousel-block {
  margin: -20px -30px 0;
}

#block-views-front-carousel-block .owl-controls {
  font-size: 0;
  margin-top: 0;
}

#block-views-front-carousel-block .owl-controls .owl-page:hover span,
#block-views-front-carousel-block .owl-controls .owl-page.active span {
  background: #fff;
}

#block-views-front-carousel-block .owl-controls .owl-page + .owl-page {

}

#block-views-partners-carousel-block .owl-wrapper-outer {
  padding-left: -15%;
}

#block-views-partners-carousel-block .owl-pagination {
  display: none;
}

/* HEADER STYLING */ 

header {
  margin: 25px 30px;
  margin-top: 0;
}

header .region-header {
  float: right;
}

#branding {
  margin: 40px 0 15px;
  float: left;
}

#block-block-3, 
#block-logintoboggan-logintoboggan-logged-in {
  float: left;
  margin: 0;
  margin-top: 20px;
}

#block-search-form {
  clear: both;
  float: right;
  margin: 0;
  margin-top: 20px;
}

.logged-in #phone-icon {
  padding-right: 0;
}
  
#block-views-recent-articles-block .views-field {
  width: 220px;
  height: auto;
}

#block-views-recent-articles-block .owl-item {
  padding: 0 2px;
}

#block-views-recent-articles-block .owl-wrapper-outer {
  margin: 0 -2px;
}

#block-views-recent-articles-block .views-field-title {
  height: 45px;
}

#block-views-recent-articles-block .views-field-body {
  width: 220px;
  height: 60px;
}
.block-responsive-menu {
  display: none;
}

#block-system-main-menu .expanded > a:before {
  content: '';
  background: url('../images/arrows-ffffff.png') no-repeat -10px -100px;
  display: block;
  height: 10px;
  width: 10px;
  overflow: hidden;
  position: absolute;
  right: 0.75em;
  top: 1.05em;
  text-indent: -999em;
}

#block-system-main-menu .expanded .expanded > a:before{
  background-position: -10px 0;
}

#menu-bar .block-superfish .sf-menu.sf-style-default li a.sf-depth-1,
#block-system-main-menu li.menu-depth-1 > a,
#primary-menu-bar li a {
  background-image: url(../images/menu_line.png);
  background-position: 100% 50%;
  background-repeat: no-repeat;
}
#menu-bar .block-superfish .sf-menu.sf-style-default li a:hover,
#menu-bar .block-superfish .sf-menu.sf-style-default li.active-trail a,
#primary-menu-bar a:hover,
#primary-menu-bar li.active a,
#block-system-main-menu .menu a.active,
#block-system-main-menu .menu li a:hover {
  background: #0099ba;
  box-shadow: inset 0px 21px 0px 0px rgba(13,174,209,1);
}
.sf-menu li li:hover > ul, 
.sf-menu li li.sfHover > ul {
  left: 100% !important;
}
.sf-menu ul {
  width: auto !important;
}
.sf-menu.sf-horizontal.sf-shadow ul, 
.sf-menu.sf-vertical.sf-shadow ul, 
.sf-menu.sf-navbar.sf-shadow ul ul {
  padding: 0 !important;
  border-radius: 0;
}
/*#block-system-main-menu li.menu-depth-2 .menu,
.sf-menu .sf-depth-2 ul {
  border-left: 1px solid #444;
}*/

/* CONTACTS PAGE */

.custom-contact-webform {
  width: 460px;
  float: left;
}

.custom-contact-webform .webform-component--name{
  float: left;
}

.custom-contact-webform .webform-component--e-mail {
  float: right;
}

.custom-contact-webform .form-actions {
  float: right;
}

.custom-contact .node.clearfix {
  width: 460px;
  float: right;
  margin-bottom: 150px;
}

#left-contact {
  float: left;
}

#right-contact {
  float: right;
}

.custom-contact .columns .block {
  margin: 0;
}

.custom-contact-webform .webform-component--name input,
.custom-contact-webform .webform-component--e-mail input {
  width: 220px;
}

.custom-contact-webform .webform-component--subject {
  clear: both;
}

#block-user-login input[type=text], #block-user-login input[type=password] {
  width: 200px;
}

/* Page Portfolio */


#columns .region-sidebar-first, #columns .region-sidebar-second {
  width: 200px;
  padding: 0 20px;
}