/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

/* Increase the default font size on small touch devices */
body {
  font-size: 100%;
}

#footer .region-inner {
  margin: 0 20px;
}

/* =============================================================================
 *   Mobile Menu Toggle
 *   See your theme settings extensions for how to enable the menu toggle.
 *   These are example styles for the menu toggle menu, you can use these in the
 *   relevant responsive stylesheets as required. Modify to suit your design.
 * ========================================================================== */
/* The toggle link */
.at-mt .at-menu-toggle h2 {
  margin-bottom: 5px;
}

.at-mt .at-menu-toggle h2 a {
  background: #eee;
  border: 2px solid #ccc;
  padding: 2px 10px;
}

/* Menu items */
.at-mt .at-menu-toggle ul.menu li a {
  background: #eee;
  border-bottom: 1px solid #fff;
}

#block-block-1, 
#block-block-2,
#block-views-recent-blog-posts-block, 
.region-footer .block-superfish {
  margin: 0;
}

#columns #block-views-front-carousel-block {
  margin: 0px -30px;
}



#block-views-front-carousel-block .owl-controls .owl-page span:before {
  top: -6px;
  left: -6px;
  border-width: 5px;
  width: 26px;
  height: 26px;
}

#block-views-front-carousel-block .owl-controls {
  bottom: 20px;
  left: 40px;
}

#columns #block-views-front-carousel-block .owl-theme .owl-controls {
  width: 25%;
}

#columns #block-views-front-carousel-block .owl-theme .owl-controls .owl-page + .owl-page {
  margin-left: 4%;
}

#columns #block-views-front-carousel-block .owl-theme .owl-controls .owl-page span {
  width: 16px;
  height: 16px;
  background: transparent;
}

#columns #block-views-front-carousel-block .owl-theme .owl-controls .owl-page:hover span,
#columns #block-views-front-carousel-block .owl-theme .owl-controls .owl-page.active span {
  background: #fff;
}


#columns #block-views-partners-carousel-block .owl-buttons {
  display: none;
}

#columns #block-views-partners-carousel-block {
  margin: 20px 0px;
}

#columns #block-views-partners-carousel-block img {
  width: 100%;
}

#block-views-partners-carousel-block .owl-wrapper {
  margin-left: -10px;
}

#block-views-partners-carousel-block .owl-wrapper-outer {
  margin: 0;
}

#columns #block-views-recent-articles-block .views-field-view-node {
  display: none;
}

#block-views-partners-carousel-block .owl-controls .owl-page,
#block-views-recent-articles-block .owl-controls .owl-page {
  background: rgba(198, 208, 209, 0.4);
  border-radius: 50%;
  width: 19px;
  height: 19px;
}

#block-views-partners-carousel-block .owl-controls .owl-page span,
#block-views-recent-articles-block .owl-controls .owl-page span {
  width: 13px;
  height: 13px;
  margin: 3px 3px;  
  background: #fff;
  opacity: 1;
}

#block-views-partners-carousel-block .owl-controls .owl-page span:hover,
#block-views-recent-articles-block .owl-controls .owl-page span:hover {
  background: #fff;
  opacity: 0.5;
}

#block-views-partners-carousel-block .owl-controls .owl-page.active span,
#block-views-recent-articles-block .owl-controls .owl-page.active span {
  background: #c6d0d1;
}

#block-views-partners-carousel-block .owl-controls .owl-page + .owl-page,
#block-views-recent-articles-block .owl-controls .owl-page + .owl-page {
  margin-left: 10px;
}

.columns-front-page strong + p,
.columns-front-page div.column ul {
  padding-left: 0;
}

footer .block {
  padding: 17px 0 15px;
}

footer .block a, p {
  font-size: 13px;
}

footer#footer .block h2 {
  margin: 0.3em 0;
}

footer .block + .block {
  border-top: 8px solid #727272;
}
  
footer .block-inner {
  margin: 0;
}

#block-block-2 .content li {
  margin: 0;
  float: left;
  border: none;
  width: 25%;
}

.region-footer .sf-main-menu, 
#block-views-recent-blog-posts-block .content,
#block-block-1 .content, 
#block-block-2 .content {
  width: 100%;
}

#block-views-recent-blog-posts-block .field-content {
  font-size: 14px;
}

#block-views-recent-blog-posts-block .content img:hover {
  border-color: #525252;
}

footer #block-block-2 .content {
  padding-top: 0;
}


.columns-front-page {
  margin: 30px 0px;
  padding-top: 35px;
}

#block-block-1 {
  font-size: 0;
}

.columns-front-page div.column {
  width: 33.3333%;
  padding-top: 55px;
}

.columns-front-page strong {
  position: absolute;
  top: 9px;
  left: 0;
  height: 36px;
  width: 36px;
}

#block-block-2 .content ul li {
  text-align: center;
}

#block-block-2 .content ul li:first-child {
  text-align: left;
}

#block-block-2 .content ul li:last-child {
  text-align: right
}


/* HEADER STYLING */

header#header {
  margin: 15px 30px;
  margin-top: 0;
  padding-top: 16px;
}

#branding {
  margin: 0;
  float: left;
}

#header #block-search-form, 
#header #block-logintoboggan-logintoboggan-logged-in {
  display: none;
}

.region-header {
  float: right;
}

#block-block-3 .block-inner {
  margin: 0;
}

#block-block-3 {
  margin-top: 10px;
}

.logged-in #block-block-3 ul #phone-icon {
  padding-right: 0;
}

.not-logged-in .region-sidebar-second #user-login {
  display: none;
}

#block-user-login {
  subm
}
  
.page-node-142 header .region-inner {
  margin: 0;
}

.custom-contact .custom-contact-webform {
  padding: 20px 0;
}

.page-node-142 .region-footer {
  margin: 0;
}

.page-node-142 iframe {
  width: 100%;
}

.custom-contact .node.clearfix {
  border-top: 1px solid #c6d0d1;
}

.custom-contact .node.clearfix {
  padding: 50px 0;
  padding-top: 0;
}

.custom-contact .node.clearfix iframe {
  height: 426px;
}

.view-blog-page-view .field-type-image img {
  width: 100%;
}

.region-sidebar-first, .region-sidebar-second {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#main-content .field-name-field-image img {
  border-radius: 6px;
  width: 100%;
}

.page-blog #main-content, .page-node-140 #main-content, .node-type-blog #main-content {
  -webkit-box-shadow: 30px 0px 86px -60px rgba(0,0,0,0.4);
  -moz-box-shadow: 30px 0px 86px -60px rgba(0,0,0,0.4);
  box-shadow: 30px 0px 86px -60px rgba(0,0,0,0.4);
}

.page-blog #content, .page-node-140 #content, .node-type-blog #content {
  margin-right: 20px;
}

#columns .region-sidebar-second section,
#columns .region-sidebar-first section,
#columns .region-sidebar-second .views-field-field-image img,
#columns .region-sidebar-first .views-field-field-image img {
  width: 100%;
  margin: 0;
}

.region-sidebar-first section + section,
.region-sidebar-second section + section,
.region-sidebar-first .block + .block,
.region-sidebar-second .block + .block {
  border-top: 1px solid #c6d0d1;
}

#columns .region-sidebar-first section:last-of-type .block-inner {
  border: none;
}

#columns .sidebar .region-inner section input[type=text],
#columns .sidebar .region-inner section input[type=password] {
  width: 100%;
}

.logged-in #columns .region-sidebar-second section#block-views-comments-recent-block {
  float: none;
  width: 100%;
}

section#block-views-comments-recent-block .views-field-timestamp .field-content {
  font-size: 13px;
}

#block-views-recent-articles-block {
  margin-top: 55px;
}

body #columns #block-views-partners-carousel-block {
  margin: 0;
}

#comment-form input[type=text], #comment-form input[type=textarea] {
  width: 100%;
}

/* Page Portfolio Styling */

.page-portfolio .view.view-id-portfolio_page .view-header + .view-content .views-row {
  float: left;
  width: 31%;
}

#columns .region-sidebar-first,
#columns .region-sidebar-second {
  padding: 0;
}

/* MENU STYLING */

input[type=search]::-webkit-input-placeholder {
  content: "search";
  color: #7a7a7a;
}

#tasks ul.primary {
  white-space: initial;
}

#block-delta-blocks-breadcrumb {
  margin: 0px 20px;
}

.region-sidebar-first .region-inner {
  margin-right: 20px;
}

.region-sidebar-second .region-inner {
  margin: 0 20px;
}